/6팀_머신러닝기반데이터분석_기말프로젝트_코드.ipynb
/EDA_민정.ipynb
/EDA_은빈.ipynb
/perfume_recommedation_system_mj(1).ipynb
/perfume_recommedation_system_mj.ipynb
/perfume_recommendations_system.ipynb
/perfume_recommendation_system_fix_unknown.ipynb
/perfume_recommendation_system_mj(2).ipynb
/perfume_recommendation_system_mj(3).ipynb
/갓은빈+갓민정+word2vec_사용.ipynb
/향_컬럼_추가_코드.ipynb